body{
    padding: 0 10px;
}

ul{
    list-style: none;
}

li {
    margin: 8px 0;
}

h1, h2 {
    text-align: center;
}

h2{
    font-size: 18px;
}

ul{
    padding: 0;
}

p{
    text-align: center;
}

textarea {
    width: 50%;
    height: 100px;
}   

.industry_area,
.job_category_area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.industries_area{
    display: none;
}

.industry_area div{
    width: calc(100%/2);
    display: flex;
    justify-content: center;
}

.industry_area div:last-child {
    display: block;
    width: 100%;
}

.industry_area div ul {
    min-width: 180px;
}

.job_category_area{
    flex-direction: column;
    align-items: center;
}

.job_category_area button{
    width: 40%;
    margin-bottom: 20px;
}

.industries li{
    margin-right: 20px;
}

.button{
    text-align: center;
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
    .industry_area div,
    .industry_area div:last-child {
        width: 15%;
        padding: 10px;
        box-sizing: border-box;
    }
}